# Testing
symbols/

# Local Artifacts
dist/
dist-resources/
*.egg-info/
*.class
typings/*
!typings/generate_stubs.py
!typings/requirements.txt

# Caches
__pycache__/
.jython_cache/

# IDE
.idea/
.vscode/
.DS_Store
venv/
